html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: '#2A2A2A';
}

body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  height: inherit;
  width: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loadingImage {
  animation: scale 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0.95);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:active {
  background: rgba(
    255,
    255,
    255,
    0.61
  ); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

/* add vertical min-height & horizontal min-width */
::-webkit-scrollbar-thumb:vertical {
  min-height: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  min-width: 10px;
}
